html,
body {
    margin: 0;
    height: 100%;
}
#myCanvas {
    width: 100%;
    height: 100%;
    display: block;
}
body{
    background: #88ccff;
}
.score {
    position: absolute;
    color: white;
    letter-spacing: 6px;
    background: black;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.crosshair {
    position: absolute;
    color: black;
    top: 50%;
    left: 52%;
    display: none;
}
.container {
    position: absolute;
    top: 5%;
    left: 2%;
    display: flex;
    display: none;
}
.container img {
    height: 2rem;
    display: block;
}
.container div {
    margin-right: 0.5rem;
}
.start-container {
    top: 35%;
    left: 50%;
    position: absolute;
    background-color: #27272A;
    color: white;
    padding: 1rem;
    border-radius: 1.5rem;
    transform: translateX(-50%);
    
    /* background: black;
    width: 20rem;
    
    
    
     */
}
.start-container div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
